<style>
    .table td,
    .table th {
        vertical-align: middle;
    }

    h1 {
        color: blue;
    }

    hr {
        background-color: #ddd;
    }

    .jumbotron {
        min-height: 100vh;
    }
</style>

<div class="jumbotron">
    <h1>Productos Fake</h1>
    <br>

    {{#if hayProductos}}
    <div class="table-responsive">
        <table class="table table-dark">
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Foto</th>
            </tr>
            {{#each productos}}
            <tr>
                <td>{{this.nombre}}</td>
                <td>${{this.precio}}</td>
                <td><img width="50" src={{this.foto}} alt="not found"></td>
            </tr>
            {{/each}}
        </table>
    </div>
    {{else}}
    <h3 class="alert alert-warning">Error de Conexion</h3>
    {{/if}}
    <br>
    <a href="/" type="button" class="btn btn-primary">Regresar al Home</a>